body {
  width: 98vw;
  height: 100vh;
  background-image: url(../imagens/bg-desktop.svg);
  background-size: contain;
}

.logo img {
  width: 250px;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.sobre {
  color: #fff;
  padding: 15px;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.paragrafo {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  background-color: #fff;
  color: var(--cor-secundaria);
  border: none;
  width: 150px;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--cor-secundaria);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.midias-sociais {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
}

.midias-sociais li {
  margin-right: 50px;
}
.midias-sociais li a {
  padding: 15px;
  font-size: 1.2rem;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 50%;
}

.midias-sociais li a:hover {
  color: var(--cor-secundaria);
  border-color: var(--cor-secundaria);
  transition: 0.3s ease-in-out;
}
